@font-face {
font-family: 'Museo Sans 300';
src: url('../../fonts/MuseoSansCirl/MuseoSansCyrl-300.eot');
src: url('../../fonts/MuseoSansCirl/MuseoSansCyrl-300.eot?#iefix') format('embedded-opentype'),
url('../../fonts/MuseoSansCirl/MuseoSansCyrl-300.woff') format('woff'),
url('../../fonts/MuseoSansCirl/MuseoSansCyrl-300.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: 'Museo Sans 700';
src: url('../../fonts/MuseoSansCirl/MuseoSansCyrl-700.eot');
src: url('../../fonts/MuseoSansCirl/MuseoSansCyrl-700.eot?#iefix') format('embedded-opentype'),
url('../../fonts/MuseoSansCirl/MuseoSansCyrl-700.woff') format('woff'),
url('../../fonts/MuseoSansCirl/MuseoSansCyrl-700.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}

@mixin reg{
  font-family: 'Museo Sans 300',sans-serif;
  font-weight: 300;
}

@mixin bold{
  font-family: 'Museo Sans 700', sans-serif;
  font-weight: 700;
}