.hero
  // padding: 50px 0
  &-block
    display: flex
    align-items: center

  &-bg
    background-color: #f5f5f5
  &-image
    display: block
    margin: auto
    margin-top: 50px
    margin-bottom: 50px
    &__img
      width: 100%


  &-text
    flex-basis: 50%
    padding-right: 79px
    &__title
      font-size: 41px
      line-height: 55px
      margin-bottom: 40px
      
      +bold
    &__subtitle
      font-size: 20px
      margin-bottom: 69px
      display: inline-block
      +bold
  &-list
    margin: 0
    padding: 0
    &__item
      display: flex
      align-items: center
      margin-bottom: 30px
      &:last-child
        margin-bottom: 0
    &__image
      min-width: 40px
      height: 40px
      border: 2px solid  $main-color
      display: flex
      justify-content: center
      align-items: center
      border-radius: 50%
      margin-right: 25px
    &__text
      max-width: 300px
      font-size: 14px
      +reg
@media(max-width: 1200px)
  .hero
    &-block
      flex-direction: column
    &-list
      margin-bottom: 44px
    &-text
      padding-right: 10px
@media(max-width: 768px)
  .hero
    &-text
      &__title
        font-style: 24px
        line-height: 1.4
        margin-bottom: 13px
      &__subtitle
        font-style: 
        margin-bottom: 28px
    &-list
      &__item
        margin-bottom: 20px
      &__text
        font-style: 12px
      &__image
        margin-right: 15px
@media(max-width: 420px)
  .hero
    &-text
      &__title
        font-size: 24px
        margin-bottom: 13px
      &__subtitle
        margin-bottom: 38px
        font-size: 16px
    &-list
      margin-bottom: 0
      &__text
        font-size: 12px
    &__image
      margin-top: 44px




