*
    box-sizing: border-box
body
    +reg
img
    min-width: 100
.container
    max-width: 1170px
    margin: auto
@media(max-width: 1200px)
    .container
        // max-width: 100%
        padding-left: 62px
        padding-right: 62px
@media(max-width: 768px)
    .container
        // max-width: 100%
        padding-left: 62px
        padding-right: 62px


.button
    border-radius: 10px
    background-color: $main-color
    border: none
    padding: 18px 30px
    &:hover
        background-color: lighten($main-color, 10%)
        cursor: pointer

.section
    padding: 90px 0
    &-title
        font-family: +bold
        font-size: 24px
        line-height: 35px
        margin-bottom: 24px
    &-subtitle
        font-family: +reg
        font-size: 16px
        margin-bottom: 30px
.input
    border-radius: 10px
    border: 1px solid +border-input
    padding: 26px
    font-size: 15px